.App {
  text-align: center;
}

body{
  background: black !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.results-top{
  margin-top: 20px;
}

.dropdown-search{
  margin-bottom: 20px;
}


.container {
  max-width: 1230px;
  margin-top:20px;
}

.container .imageStyle {
    float: left;
}

.textStyle{
  text-align: center;
}

.paraStyle{
  margin-top:-10px;
  margin-bottom: 30px !important;
}


.dropdown-limit{
  margin-left:20px !important;
  height: 40px;  
  width: 100px;
}


.results-grid{
  background: #6435c9 !important;
}

.btn-list{
  background-color: #3faf5a !important;
  color:white !important;
}

.btn-list-neg{
  margin-top:10px !important;
  margin-left:10px !important;
  background-color: #ff0000c4 !important;
  color:white !important;
}

.btn-list-details{
   margin-top:10px !important;
  margin-left:10px !important;
  background-color: blue !important;
  color:white !important;
}

.list-count-btn{
  margin-left:20px !important;
  height: 40px;  
  width: 150px;
}

.go-to-home{
  margin-top:20px !important;
  height: 40px;  
  width: 150px;
}

h2{
  color:white;
}

p{
  color:white;
}



